<div class="infowindow-div">
	<h3 id="infowindow-title"><%= company.name %></h3>
	<%= link_to company.link, url_with_protocol(company.link), :target => '_blank' %>
	<p id="infowindow-description"><%= company.description %></p>
	<p id="infowindow-address"><%= company.address %></p>
</div>