<div class="rails-form">
	<div class="row">
		<div class="twelve columns">
			<h1>New Company</h1>
		</div>
	</div>
	<div class="row">
			<%= render 'form' %>
	</div>
	<div class="row">
		<%= link_to 'Back', companies_path %>
	</div>
</div>
