// // Place all the styles related to the Companies controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

html{
	height: 100vh;
	body{
		height: 100vh;
	}
}

#map{
	height: 600px;
	// height: 100%;
	margin-left: 2%;
}

.content{
	border: 1px solid #0288D1;
}

.header{
	background:#03a9f4;
	margin: auto;
	text-align: vertical;
	height: 75px;
	padding:0 2%;
	
	.add-new{
	color: black;
	vertical-align: middle;
		&:hover{
			color:black;
			text-decoration: underline;
		}
	}

	.align{
		height: 100%;
		background: green;
		text-align: vertical;
		vertical-align: middle;
	}

	#bloom-logo{
		text-align:vertical;
	}
	
	#search-form{
		width:100%;
		#search{
			width: 80%;
		}

		#search-button{
			width: 20%;
		}
	}
}
.type-key{
	font-weight: bold;
}

#Startup{
	color: #FF0000;
}

#Accelerator{
	color: #007FFF;
}

#Incubator{
	color: #FFEB3B;
}

#Investor{
	color: #4caf50;
}

#Coworking{
	color: #673ab7;
}

#Consulting{
	color: #f57c00;
}

#Event{
	color: #e91e63;
}

#Hackspace{
	color: #1a237e;
}


// .select-link{
// 	&:hover{
// 		cursor: pointer;
// 	}
// }

// .display-types{
// 	list-style: none;
// 	border: 1px solid black;
// 	width: 20%;
// 	li{
// 		&:hover{
			
// 		}
// 	}
// }

// #infowindow-div{
// 	border: 1px solid black
// 	#infowindow-title{
// 	}

// 	#infowindow-link{
// 	}

// 	#infowindow-address{
// 	}

// 	#infowindow-description{
// 	}
// }
