// // Place all the styles related to the Companies controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

html{
	height: 100%;
	body{
		height: 100%;
	}
}

button{
	background-color:#0288D1; 
}

#map{
	height: 600px;
	margin-left: 2%;
}

.content{
	border: 1px solid #0288D1;
}

.header{
	background:#03a9f4;
	margin: auto;
	vertical-align: middle;
	height: 50px;
	padding:5px 2%;
	
.add-new{
vertical-align: middle;
	button{
		color: white;
		background-color: #0288D1;
		&:hover{
			color:white;
		}
	}
}

	#bloom-logo{
		vertical-align: middle;
		height: 50px;
	}
	
	#search-form{
		text-align: vertical;
		vertical-align: middle;
		width:100%;
		#search{
			width: 70%;
		}

		#search-btn{
			width: 20%;
			padding: 0;
			text-align: middle;
			background-color:#0288D1;
			color: white;
		}
	}
}
.type-key{
	font-weight: bold;
}

#Startup{
	color: #FF0000;
}

#Accelerator{
	color: #007FFF;
}

#Incubator{
	color: #FFEB3B;
}

#Investor{
	color: #4caf50;
}

#Coworking{
	color: #673ab7;
}

#Consulting{
	color: #f57c00;
}

#Event{
	color: #e91e63;
}

#Hackspace{
	color: #1a237e;
}

// .select-link{
// 	&:hover{
// 		cursor: pointer;
// 	}
// }

// .display-types{
// 	list-style: none;
// 	border: 1px solid black;
// 	width: 20%;
// 	li{
// 		&:hover{
			
// 		}
// 	}
// }

// #infowindow-div{
// 	border: 1px solid black
// 	#infowindow-title{
// 	}

// 	#infowindow-link{
// 	}

// 	#infowindow-address{
// 	}

// 	#infowindow-description{
// 	}
// }
